.top{
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top:0;
    display: flex;
    align-items: center;
    z-index: 999;
}
.topLeft, .topRight{
    flex: 3;
    
}
.topCenter{
    flex: 6
}
.topIcon{
    font-size: 20px;
    margin-right: 10px;
    color: #444; 
    cursor: pointer;
}
.img{
    background: none;
    width: 20px;
    margin-right: 20px;
}
.topList{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.topListItem {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    margin-left: 5px;
}
.searchIcon{
    font-size: 18px;
    color: #666;
    margin-left: 15px;
    cursor: pointer;

}

.container{
    position: relative;
    width: 240px;

}
.searchbar{
    position: relative;
    margin: 10px 20px;
    width: 100%;
    padding: 10px 10px 10px 20px;
    border-radius: 40px;
    border: none;
    font-size: 14px;
    transition: 0.6s all ease-in-out;
    border: 1px solid #b85e09;

}
.searchbar:focus-visible{
    outline: none;
    box-shadow: 0px 0px 6px 6px #e97204;
}